* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Routed";
    src: url(./routed-gothic-narrow.ttf);
}

@font-face {
    font-family: "Akkurat";
    src: url(./Akkurat-Normal.otf);
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: "Routed", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 10vw;
    line-height: 9vw;
}

h4 {
    position: absolute;
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

.container {
    width: 100vw;
    height: 600vh; 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

section {
    width: 100vw;
    height: 88vh;
    position: relative;
    top: 0;
    left: 0;
    scroll-snap-align: start;
    display: flex;
    color: black;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

section a {
    text-decoration: none;
    color: black;
    display: block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    z-index: 1;
}

section a:hover {
    color: rgba(255, 255, 255, 0.812);
}

#landing a {
    position: relative !important;
    border: 1px black solid;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    padding: 0 2.5rem;
    margin-top: 3rem;
}

#landing a:hover {
    background-color: black;
    color: white;
}

#landing {
    height: 100vh;
    align-items: center !important;
}

#footer {
    height: 10vh;
    overflow: hidden;
    background-color: rgb(230,231,232);
}

#footer h4 {
    font-size: 1rem !important;
    bottom: 1rem;
}

#organizing { background-color: #FF665E; z-index: 0; }
#education { background-color: #E3ED55; z-index: 0;}
#resources { background-color: #FC7ECD; z-index: 0;}
#safety { background-color: #62A8E5; z-index: 0;}
#about {
    background: rgb(230,231,232);
    background: linear-gradient(0deg, rgba(230,231,232,1) 88%, rgba(98,168,229,1) 100%);
}

#landing {
    background: rgb(230,231,232);
    background: linear-gradient(180deg, rgba(230,231,232,1) 70%, rgba(255,102,94,1) 100%);
}

#organizing {
    background-image: url("Ways_Of_Organizing_F.gif");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: left bottom;
}

#education {
    background-image: url("Education_F.gif");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left bottom;
}

#resources {
    background-image: url("Resources_F.gif");
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: left bottom;
}

#safety {
    background-image: url("Safety-Networks_F.gif");
    background-repeat: no-repeat;
    background-size: 370px;
    background-position: left bottom;
}



.menu-group {
    display: block;
    position: fixed;
    right: 2rem;
    z-index: 1;
    top: 1rem;
}

.menu, .menu a {
    text-align: right;
    font-size: 1.5rem;
    font-family: "Routed", Helvetica, sans-serif;
}

.menu a:hover {
    color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
}

.menu-popup {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.menu-popup a {
    text-decoration: none;
    color: black;
    font-family: "Routed", Helvetica, sans-serif;
}

.menu-popup a:hover {
    color: rgba(255, 255, 255, 0.808);
    transition: .1s ease-in-out;
}

.content {
    display: flex;
    position: static;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 1rem;

}

.content-box {
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 8px;
    font-family: "Akkurat", sans-serif;
    padding: 1rem;
}

strong {
    font-family: "Akkurat", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-1deg); }
    40% { transform: rotate(1deg); }
    60% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}

.content-box:hover {
    animation: wiggle .75s infinite;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.724);
}

#about {
    overflow: auto;
}

.about-content {
    display: grid;
    row-gap: 3rem;
    grid-template-columns: 30% 70%;
    width: 60vw;
    margin: auto;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: "Akkurat", sans-serif;
    margin-top: 9rem;
}

.larger {
    font-size: 1.5rem;
    font-family: "Routed", sans-serif;
    text-transform: uppercase;
}

.text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Akkurat", sans-serif;
    text-align: left;
}

/* smartphone */
@media only screen and (max-width: 1000px), (orientation: portrait) {
    h1 {
        font-size: 14vw;
        line-height: 13vw;
    }
    
        #landing a {
        padding: 1rem;
    }

    .about-content {
        grid-template-columns: 1fr;
        width: 90vw;
    }

    .content {
        width: 90vw;
    }

    .text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .menu {
        text-decoration: underline;
    }

    #organizing, #education, #resources, #safety {
        background-image: url();
    }
    }